@import "./style.css";

  .playField, .scores, .colorPicker{
    border: solid 3px grey;
    margin: 0%;
    padding: 0%;
  }

  input[type="image" i] {
    cursor: default;
  }

  .playFieldContainer{
    margin-left: 15%;
    margin-top: 2%;
    height: 90%;
    display: inline-block;
  }

  .scores{
    display: inline-block;
    vertical-align: top;
  }

  #status{
    overflow: auto;
  }

  .playField{
    height: 100%;
    display: inline-block;
  }

  .colorPicker{
    vertical-align: bottom;
    display: inline-block;
  }

  .helpButtonContainer{
    position: sticky;
    right: 0;
    margin: 2%;
    display: inline-block;
    position: absolute;
  }

  .helpButton {
    margin-top: 5%;
    width: auto;
    height: auto;
  }

  .rightGuesses{
    display: inline-block;
  }

  .circleFeedback{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
  }

  .pickerButton{
    display: block;
    margin: 5px;
  }

.midLayer{
  padding: 10%;
  padding-left: 20%; 
  padding-bottom: 10%;
}