@import "./style.css";

  .playfieldContainer{
    height: 100%;
    margin-left: 10%;
    width: 80%;
    display: inline-block;
    background-color: rgba(219, 219, 219, 0.541);
  }

  .scores{
    height: 30%;
    float: left;
    width: 25%;
    display: inline-block;
    background-color: cornflowerblue;
  }

  #status{
    overflow: auto;
    height: 60%;
  }

  .playField{
    height: 100%;
    width: 50%;
    float: left;
    display: inline-block;
    background-color: rgb(207, 207, 207);
  }

  .colorPicker{
    width: 5%;
    height: 70%;
    margin-top: 30%;
    float: left;
    display: inline-block;
    background-color: grey;
  }

  .helpButtonContainer{
    width: 30%;
    height: 90%;
    display: inline-block;
    background-color: rgba(219, 219, 219, 0.541);
    position: absolute;
  }

  .helpButton {
    margin-top: 5%;
    width: auto;
    height: auto;
    background-color: rgba(219, 219, 219, 0.541);
  }

  .rightGuesses{
    display: inline-block;
  }

  .circleFeedback{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
  }

  a {
    color: #00B7FF;
  }
  